extends ./_partial/layout.pug
block content
  include ./_partial/header.pug
  .article-content(style='max-width:'+ theme.content_width +'px')
    if page.photos && page.photos.length
      div
        each photo in page.photos
          a.article-gallery-img.fancybox(href=photo)
            img(src=photo)
    | !{page.content}
  if page.creative_commons && page.creative_commons.enable
    .article-creative-commons(style='max-width:'+ theme.content_width +'px')
      a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/')
        img(alt='知识共享许可协议', style='border-width:0', src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png')
      br
      | 本作品采用
      a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/') 知识共享署名-相同方式共享 4.0 国际许可协议
      | 进行许可。
  .article-meta(style='max-width:'+ theme.content_width +'px')
    if page.tags && page.tags.length
      .tags
        i.icon.icon-tag
        | !{list_tags(page.tags)}
    if page.tags && page.categories.length
      .categories
        i.icon.icon-category
        | !{list_categories(page.categories)}
  if theme.disqus.enable
    .article-comment(style='max-width:'+ theme.content_width +'px')
      #disqus_thread(dsq-url=theme.disqus.dsq_url)
      script.
        (function() { // DON'T EDIT BELOW THIS LINE
        var dsq_url = document.getElementById('disqus_thread').getAttribute('dsq-url');
        var d = document, s = d.createElement('script');
        s.src = dsq_url;
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      noscript
        | Please enable JavaScript to view the
        a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
  ul.navication
    li.home
      a(href="/")
        i.icon.icon-home
    if page.prev && page.prev.path
      li
        a(href=url_for(page.prev.path))
          i.icon.icon-arror-left
    if page.next && page.next.path
      li
        a(href=url_for(page.next.path))
          i.icon.icon-arror-right